{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div id="layout-wrapper">

    <header id="page-topbar">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a>
                        <span class="logo-sm">
                            <img src="{% static 'images/logo-sm.png' %}" alt="" height="22">
                        </span>
                    </a>

                    <a class="logo logo-light">
                        <span class="logo-sm">
                            <img src="{% static 'images/logo-sm.png' %}" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="images/ogo-sm.png" alt="" height="20">
                        </span>
                    </a>
                </div>

                <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
                    <i class="fa fa-fw fa-bars"></i>
                </button>
           </div>

            <div class="d-flex">
                <div class="dropdown d-inline-block">

                </div>

                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">Profile</span>
                        <i class="uil-angle-down d-none d-xl-inline-block font-size-15"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" style="">

                        <a class="dropdown-item" href="{% url "profile" %}"><i
                                class="uil uil-user-circle font-size-18 align-middle text-muted me-1"></i> <span
                                class="align-middle">View Profile</span></a>
                        <a class="dropdown-item" href="{% url "logout" %}"><i
                                class="uil uil-sign-out-alt font-size-18 align-middle me-1 text-muted"></i> <span
                                class="align-middle">Sign out</span></a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu mm-active">
        <div class="navbar-brand-box">
            <a class="logo logo-dark">
                <span class="logo-sm">
                    <img src="{% static 'images/logo-sm.png' %}" alt="" height="22">
                </span>
                <span class="logo-lg">
                    <img src="{% static 'images/FRENFORD-removebg-preview.png' %}" alt="" height="40">
                </span>
            </a>
        </div>

        <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
            <i class="fa fa-fw fa-bars"></i>
        </button>

        <div data-simplebar="init" class="sidebar-menu-scroll mm-show">
            <div class="simplebar-wrapper" style="margin: 0px;">
                <div class="simplebar-height-auto-observer-wrapper">
                    <div class="simplebar-height-auto-observer"></div>
                </div>
                <div class="simplebar-mask">
                    <div class="simplebar-offset" style="right: -20px; bottom: 0px;">
                        <div class="simplebar-content-wrapper"
                            style="height: 100%; padding-bottom: 0px; overflow: hidden scroll;">
                            <div class="simplebar-content" style="padding: 0px;">

                                <!--- Sidemenu -->
                                <div id="sidebar-menu" class="mm-active">
                                    <ul class="metismenu list-unstyled mm-show" id="side-menu">
                                        <li class="">
                                            <a href="{% url "dashboard" %}" class="active" aria-expanded="false">
                                                <i class="uil-home-alt"></i>
                                                <span>Dashboard</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url "booking_list" %}" class="waves-effect" aria-expanded="false">
                                                <i class="uil-calender"></i>
                                                <span>Booking History</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url "cancel_membership" %}" class="waves-effect" aria-expanded="false" data-bs-toggle="modal" data-bs-target="#cancelMembershipModal">
                                                <i class="uil-calender"></i>
                                                <span>Cancel Membership</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="simplebar-placeholder" style="width: auto; height: 1000px;"></div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0"> Date: <span id="selected-date">{{ today|date:"Y-m-d" }}</span></h4>
                            <div>
                                <input type="date" id="date-picker" class="form-control" style="width: auto;" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="whitebox">
                            {% for sport in sports %}
                                {% if sport|lower == selected_sport|lower %}
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">{{ sport|title }}</th>
                                                    <th scope="col"></th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td scope="row">08:00 AM - 09:00 AM</td>
                                                    <th scope="col"></th>
                                                    <td>
                                                        <button 
                                                            class="btn btn-success book-now-btn" 
                                                            data-slot="08:00 AM - 09:00 AM" 
                                                            data-sport="{{ sport }}"
                                                            data-bs-toggle="modal" 
                                                            data-bs-target="#paymentModal">
                                                            Book Now
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">09:00 AM - 10:00 AM</td>
                                                    <th scope="col"></th>
                                                    <td>
                                                        <button 
                                                            class="btn btn-success book-now-btn" 
                                                            data-slot="09:00 AM - 10:00 AM" 
                                                            data-sport="{{ sport }}"
                                                            data-bs-toggle="modal" 
                                                            data-bs-target="#paymentModal">
                                                            Book Now
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">10:00 AM - 11:00 AM</td>
                                                    <th scope="col"></th>
                                                    <td>
                                                        <button 
                                                            class="btn btn-success book-now-btn" 
                                                            data-slot="10:00 AM - 11:00 AM" 
                                                            data-sport="{{ sport }}"
                                                            data-bs-toggle="modal" 
                                                            data-bs-target="#paymentModal">
                                                            Book Now
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Payment Modal -->
        <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="paymentModalLabel">Confirm Payment</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Do you confirm your payment for the booking?</p>
                    <form id="confirmBookingForm" method="POST" action="{% url 'confirm_booking' %}">
                        {% csrf_token %}
                        <input type="hidden" id="selected_date" name="selected_date" />
                        <input type="hidden" name="slot_time" id="slot_time">
                        <input type="hidden" name="sport" id="sport">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" form="confirmBookingForm" class="btn btn-primary">Confirm</button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const confirmButton = document.getElementById("confirmPayment");

        confirmButton.addEventListener("click", function () {
            // Get selected sport, date, and slot details from the modal or page
            const selectedSport = "{{ selected_sport }}"; // Retrieved from the context
            const selectedDate = new Date().toISOString().split('T')[0]; // Current date
            const selectedSlot = "2024-11-30 08:00:00"; // Replace with selected slot (example format)


            fetch("{% url 'confirm_booking' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: new URLSearchParams({
                    sport: selectedSport,
                    date: document.getElementById('selected_date').value, // Pass the selected date
                    slot: selectedSlot
                })
            })

            // Make an AJAX POST request to the backend
            fetch("{% url 'confirm_booking' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                    "X-CSRFToken": "{{ csrf_token }}"  // Include CSRF token for security
                },
                body: new URLSearchParams({
                    sport: selectedSport,
                    date: selectedDate,
                    slot: selectedSlot
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert(data.message); // Show success message
                    location.reload();   // Reload the page to reflect new booking
                } else {
                    alert(data.message); // Show error message
                }
            })
            .catch(error => {
                console.error("Error:", error);
                alert("An error occurred while processing your booking.");
            });
        });
    });



    document.querySelectorAll('.book-now-btn').forEach(button => {
        button.addEventListener('click', function () {
            const slotTime = this.getAttribute('data-slot');
            const sport = this.getAttribute('data-sport');
            
            // Set values in the hidden inputs
            document.getElementById('slot_time').value = slotTime;
            document.getElementById('sport').value = sport;
        });
    });



    document.addEventListener("DOMContentLoaded", function () {
        const datePicker = document.getElementById("date-picker");
        const selectedDateSpan = document.getElementById("selected-date");
    
        // Set the default value of the date picker to today
        const today = new Date().toISOString().split("T")[0];
        datePicker.value = today;
    
        // Update the displayed date when the date picker changes
        datePicker.addEventListener("change", function () {
            selectedDateSpan.textContent = datePicker.value;
        });
    
        // Update booking button logic to use the selected date
        document.querySelectorAll('.book-now-btn').forEach(button => {
            button.addEventListener('click', function () {
                const slotTime = this.getAttribute('data-slot');
                const sport = this.getAttribute('data-sport');
                const selectedDate = datePicker.value;
    
                // Set hidden input values (if any)
                document.getElementById('slot_time').value = slotTime;
                document.getElementById('sport').value = sport;
                document.getElementById('selected_date').value = selectedDate; // Pass selected date to the view
            });
        });
    });
    
</script>


{% endblock %}
