{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div id="layout-wrapper">


    <header id="page-topbar">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a>
                        <span class="logo-sm">
                            <img src="images/logo-sm.png" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="images/logo-dark.png" alt="" height="20">
                        </span>
                    </a>

                    <a class="logo logo-light">
                        <span class="logo-sm">
                            <img src="images/logo-sm.png" alt="" height="22">
                        </span>
                        <span class="logo-lg">
                            <img src="images/ogo-sm.png" alt="" height="20">
                        </span>
                    </a>
                </div>

                <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
                    <i class="fa fa-fw fa-bars"></i>
                </button>
           </div>

            <div class="d-flex">
                <div class="dropdown d-inline-block">

                </div>

                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">Profile</span>
                        <i class="uil-angle-down d-none d-xl-inline-block font-size-15"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" style="">
                        <!-- item-->
                        <a class="dropdown-item" href="{% url "profile" %}"><i
                                class="uil uil-user-circle font-size-18 align-middle text-muted me-1"></i> <span
                                class="align-middle">View Profile</span></a>
                        <a class="dropdown-item" href="{% url "logout" %}"><i
                                class="uil uil-sign-out-alt font-size-18 align-middle me-1 text-muted"></i> <span
                                class="align-middle">Sign out</span></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu mm-active">
        <div class="navbar-brand-box">
            <a  class="logo logo-dark">
                <span class="logo-sm">
                    <img src="{% static 'images/logo-sm.png' %}" alt="" height="22">
                </span>
                <span class="logo-lg">
                    <img src="{% static 'images/osi_logo_white.png' %}" alt="" height="40">
                </span>
            </a>
        </div>

        <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
            <i class="fa fa-fw fa-bars"></i>
        </button>

        <div data-simplebar="init" class="sidebar-menu-scroll mm-show">
            <div class="simplebar-wrapper" style="margin: 0px;">
                <div class="simplebar-height-auto-observer-wrapper">
                    <div class="simplebar-height-auto-observer"></div>
                </div>
                <div class="simplebar-mask">
                    <div class="simplebar-offset" style="right: -20px; bottom: 0px;">
                        <div class="simplebar-content-wrapper"
                            style="height: 100%; padding-bottom: 0px; overflow: hidden scroll;">
                            <div class="simplebar-content" style="padding: 0px;">

                                <!--- Sidemenu -->
                                <div id="sidebar-menu" class="mm-active">
                                    <!-- Left Menu Start -->
                                    <ul class="metismenu list-unstyled mm-show" id="side-menu">

                                        <li class="">
                                            <a href="{% url "dashboard" %}" class="active" aria-expanded="false">
                                                <i class="uil-home-alt"></i>
                                                <span>Dashboard</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url "booking_list" %}" class="waves-effect" aria-expanded="false">
                                                <i class="uil-calender"></i>
                                                <span>Booking History</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="customers.html" class="waves-effect" aria-expanded="false">
                                                <i class="uil-calender"></i>
                                                <span>Cancle Membership</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Sidebar -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="simplebar-placeholder" style="width: auto; height: 1000px;"></div>
            </div>
            <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                <div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;">
                </div>
            </div>
            <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                <div class="simplebar-scrollbar"
                    style="height: 687px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
            </div>
        </div>
    </div>

    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                

                <div class="row">
                    <div class="col-sm-12">
                        <div class="whitebox">
                            <div class="section profile-info">
                                <h3 style="font-weight: bold;">Personal Information</h3>
                                <p><strong>Username:</strong> <span>{{ user_data.username }}</span></p>
                                <p><strong>Full Name:</strong> <span>{{ user_data.first_name }} {{ user_data.last_name }}</span></p>
                                <p><strong>Gender:</strong> <span>{{ user_data.get_gender_display }}</span></p>
                                <p><strong>Date of Birth:</strong> <span>{{ user_data.date_of_birth }}</span></p>
                            </div>

                            <div class="section">
                                <h3 style="font-weight: bold;">Parent Information</h3>
                                <p><strong>Parent's Name:</strong> <span>{{ user_data.parent_name }} {{ user_data.parent_surname }}</span></p>
                                <p><strong>Parent's Phone Number:</strong> <span>{{ user_data.parent_phone_number }}</span></p>
                            </div>

                            <div class="section">
                                <h3 style="font-weight: bold;">Education/Employment Information</h3>
                                <p><strong>School/College/Employment:</strong> <span>{{ user_data.get_school_college_or_employment_display }}</span></p>
                            </div>

                            <div class="section">
                                <h3 style="font-weight: bold;">Additional Information</h3>
                                <p><strong>Diversity:</strong> <span>{{ user_data.diversity }}</span></p>
                                <p><strong>Discount Card:</strong> <span>{% if user_data.discount_card %}Yes{% else %}No{% endif %}</span></p>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>





        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <script>document.write(new Date().getFullYear())</script> © Frenford.
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
{% endblock %}
